<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="MasterApp1Entities" connectionString="metadata=res://*/MasterApplication1Model.csdl|res://*/MasterApplication1Model.ssdl|res://*/MasterApplication1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DANILO-PC;initial catalog=MasterApp1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MasterApp2Entities" connectionString="metadata=res://*/MasterApplication2Model.csdl|res://*/MasterApplication2Model.ssdl|res://*/MasterApplication2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;
                                                        data source=localhost;initial catalog=MasterApp2;integrated security=True;MultipleActiveResultSets=True
                                                        App=EntityFramework&quot;" providerName="System.Data.EntityClient"  />
    <add name="ADO.NET" connectionString="Server=(local);Integrated Security=SSPI;database={0}"/>
  </connectionStrings>
</configuration>